* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
	font-family: "ironwisp";
	src: url("assets/fonts/ironwispVF.ttf");
}
@font-face {
	font-family: "DreamPixie";
	src: url("assets/fonts/DreamPixie.ttf");
}
@font-face {
	font-family: "Silkspan";
	src: url("assets/fonts/Silkspan.ttf");
}
.my-element {
  background-image: url("assets/imgs/Asset 1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

body, html {
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.grid {
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  row-gap: 20px; 
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  font-family: Tahoma, sans-serif;
  text-align: center;
  
}



.box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: px;
  color: white;
  text-align: center;
}

.box1 { background: #6964aa; 
 font-family: "ironwisp";
 border-radius: 50px;
 font-size: max(10vw, 20px);
 border-color: #ffffff;
 border-style: solid;
 border-top-width: 2px;
 font-variation-settings: "SLNT" 0;
  transition: 0.5s ease-in-out, font-size 0s;
}
.box2 { background: #6964aa; 
 font-family: "dreampixie";
 border-radius: 50px;
 font-size: 100px;
 /* font-variation-settings: ; */
  transition: 0.5s ease-in-out, font-size 0s;
 
}
.box3 { background: #6964aa; 
 font-family: "Silkspan";
 border-radius: 50px;
 font-size: 100px;
  transition: 0.5s ease-in-out, font-size 0s;
 
}


.box:hover {
  background: white;
  color: #6964aa;
}
.header {

	background: #6964AA;
  background: linear-gradient(0deg,rgba(105, 100, 170, 1) 0%, rgba(176, 173, 237, 1) 50%, rgba(212, 209, 255, 1) 100%);
	padding: 50px;
  color: #ffffff;
  
}
.header-title {
	
	font-size: 7vw;
	line-height: 1em;
	text-align: center;
	color: #ffffff;
  font-family: Tahoma, sans-serif;

	/* Spacing */
	margin-bottom: 20px;

}
.header-desc {
	/* Font styling (color inherited from parent */
	font-size: 16px;
	line-height: 1.3em;
  text-align: center;
  font-family: Tahoma, sans-serif;

	/* No bigger than 1000px */
	max-width: 1000px;

	/* As big as possible */
	width: 100%;

	/* Push to the middle */
	margin: 30px auto;
}
.footer {
	background-color: #ffffff00;
	padding: 20px;
	color: #ffffff;
  text-align: center;
  font-family: Tahoma, sans-serif;
}